.page {
  // .page__sc
  &__sc {
		min-height: 100vh;
		background: #232332;
		display: grid;
		place-items: center;
  }
}
.sc {
  // .sc__container
  &__container {
  }
  // .sc__body
  &__body {
  }
}
